*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background:  #121214;
  display: grid;
  justify-content: center;
  padding: 72px 104px;
}
header{
  width:100% ;
 margin: auto;
}
h1{
  color:  #02799D;
  font-family: Mulish;
  font-size: 58px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
header p{
  color: #E1E1E6;
  margin-bottom: 62px;
  font-family: Mulish;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
main{
  
  display: grid;
  grid-template-columns: repeat(3,370px);
  grid-template-rows: repeat(2,452px);
  gap: 44px 60px;
  justify-content: center;
}
.card{
  border-radius: 8px;
  border: 2px solid #323238;
  background: #202024;
}
img{
  overflow: hidden;
}

h2{
  color: #E1E1E6;
  
  font-family: Mulish;
  font-size: 35px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  margin-top:0px;
  margin-left:22px ;
}
.card p{
  color:  #C4C4CC;
  padding: 14px 22px 38px 22px;
  font-family: Mulish;
  font-size: 19px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}